<%- include('./partials/header') %>

<h1>Enter new Cohort</h1>

<form action="/new" method="POST">
  <div class="form-group">
    <div class="form-group">
      <label for="name">Cohort Name</label>
      <input type="text" class="form-control" name="name" placeholder="The Banana Hammocks">
    </div>
    <div class="form-group">
      <label for="logoUrl">Cohort Logo</label>
      <input type="text" class="form-control" name="logoUrl" placeholder="https://photos.smugmug.com/Galleries/Bestof/Funny-2/i-LKsV83p/0/ca75b4d4/4K/IMG_0475-4K.jpg">
    </div>
    <div class="form-group">
      <label for="members">Cohort Members</label>
      <small name="membersHelp" class="form-text text-muted">Enter member names separated by a comma</small>
      <input type="text" class="form-control" name="members" placeholder="Rosa Diaz Jara, Peter Pipper Pepper, Peppa Pig">
    </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>


<%- include('./partials/footer') %>